* {
    margin: 0;
    padding: 0;
}

section {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

section::before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 100%;
    border: 16px solid gray;
    border-top: 16px solid red;
    animation: rotateC 2s infinite;
    transform: rotate(43deg);
}

section > div {
    width: 50%;
    height: 16px;
    background: red;
    position: absolute;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    transform-origin: left;
    animation: rotateHand 2s infinite;
}

section>div::before {
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: red;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

@keyframes rotateC {
    from {
        transform: rotate(43deg);
    }
    to  {
        transform: rotate(403deg);
    }
}

@keyframes rotateHand {
    from {
        transform: rotate(0deg);
    }
    to  {
        transform: rotate(360deg);
    }
}