* {
    margin: 0;
    padding: 0;
}

.fixed-circle {
    position: relative;
    height: 100vh;
    z-index: 2;
}

.fixed-circle .gray-frame {
    position: fixed;
    color: #fff;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center,
    rgba(255,113,12,0) 65%,
    rgb(170, 150, 150) 51.5%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fixed-circle .gray-frame .red-frame {
    position: fixed;
    color: #fff;
    height: 370px;
    width: 370px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center,
    rgba(255,113,12,0) 65%,
    rgb(203, 27, 27) 51.5%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text1 {
    position: absolute;
    background: #7f46a0;
    height: 342px;
    width: 342px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text1 p {
    position: absolute;
    font-size: 35px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text2 {
    position: relative;
    height: 100vh;
}

.text2 .circle{
    position: absolute;
    background: #10aaf1;
    height: 342px;
    width: 342px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text2 p {
    position: absolute;
    font-size: 35px;
    color: white;
    width: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text3 {
    position: relative;
    height: 100vh;
}

.text3 .circle{
    position: absolute;
    background: #ec8a3b;
    height: 342px;
    width: 342px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text3 p {
    position: absolute;
    font-size: 35px;
    text-align: center;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


